.students-sideTwo {
  flex: 1;
}

.student-indepth-container {
  margin: 0 10%;
  padding: 0;
}

.header-container {
  border-bottom: 3px solid var(--divider-color);
  padding-bottom: 10px;
}

.student-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.student-name {
  color: var(--main-color);
}

.student-classes-container {
  margin-top: 10px;
}

.section-title {
  margin-bottom: 10px;
}

.s2-list-table {
  width: 100%;
  text-align: center;
}

.s2-table-headers {
  font-weight: 600;
}

.s2-table-body {
  width: 100%;
  height: 100%;
}

