.books-sideOne {
    flex: 1;
  }
  
  .book-content-container {
    margin: 0 10%;
    padding: 0;
  }
  
  .content-header-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .content-header-title h2 {
    font-weight: 800;
    margin-bottom: 5%;
  }
  
  .content-header-title-container button {
    color: white;
    background-color: var(--button-color);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .content-header-title-container button:hover {
    background-color: var(--button-color-hover);
  }
  
  .content-header-desc h3{
    font-size: 16px;
    font-weight: 400;
    color: var(--inactive-color);
  }
  
  .content-header-desc h3:first-child {
    margin-bottom: 3%;
  }
  
  .books-sideTwo {
    flex: 1;
  }
  
  .book-list-table {
    margin: 5% 10%;
    text-align: center;
  }
  
  .tableHeader {
    font-weight: 600;
  }
  
  .tableRow {
    color: black;
  }
  
  .tableRow-selected {
    color: var(--main-color);
    cursor: pointer;
  }
  
  .tableRow-selected:hover {
    color: var(--main-color-hover);
  }
  
  .tableRow:hover {
    color: var(--main-color);
    cursor: pointer;
  }
  
  .tableData {
    padding: 3% 0;
  }