@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: var(--background-color);
}

/* CSS Vars */
:root {
  --background-color: #F8F8FF;

  --main-color: #5465FF;
  --main-color-hover: #374bfd;
  --main-color-faded: #8b97ff;

  --button-color: #7D8AFF;
  --button-color-hover: #485aff;

  --delete-color: #FF7C7C;
  --delete-color-hover: #ff5e5e;

  --inactive-color: #909090;
  --inactive-color-hover: #696969;
 
  --card-color: #DEE1FF;
  --divider-color: #EFEFEF;

  --gray-border-color: #C4C4C4;
}