@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* CSS Vars */
:root {
  --background-color: #F8F8FF;

  --main-color: #5465FF;
  --main-color-hover: #374bfd;

  --button-color: #7D8AFF;
  --button-color-hover: #485aff;

  --inactive-color: #909090;
  --inactive-color-hover: #696969;
 
  --card-color: #DEE1FF;
  --divider-color: #EFEFEF;
}