/* Start DASHBOARD-SIDETWO Styling */
.dashboard-sideTwo {
  flex: 1;
}

.sideTwo-header {
  height: 20%;
  display: flex;
  align-items: center;
}

.sideTwo-header h2 {
  margin-left: 10%;
  font-weight: 800;
}

.sideTwo-container {
  border-left: 1.5px solid var(--diver-color);
  display: flex;
  flex-direction: column;
  height: 80%;
}
/* End DASHBOARD-SIDETWO Styling */

/* Start QUICK-ANALYTICS Styling */
.quick-analytics-container {
  margin: 0 10%;
  padding: 0;
}

.quick-analytics-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--inactive-color);
  margin-top: 5%;
}
/* End QUICK-ANALYTICS Styling */

/* Start BARGRAPH Styling */
.barGraph {
  background-color: var(--card-color);
  border-radius: 10px;
  margin: 5% 0;
  padding: 2%;
}
/* End BARGRAPH Styling */