/* Always need to apply flex to the main container of the component */
/* This ensure that the sidebar will be to the left of the page */
.books {
  display: flex; /* Do not forget to put this in every component container*/
}

/* Start BOOKS-CONTAINER Styling */
.books-container {
  /* border: 1px solid red; */
  display: flex;
  width: 100vw;
}
/* End BOOKS-CONTAINER Styling */

/* Start BOOKS-SIDEONE Styling */
.books-sideOne {
  border-right: 1px solid var(--divider-color);
  flex: 1;
}
/* End BOOKS-SIDEONE Styling */

/* Start BOOKS-SIDETWO Styling */
.books-sideTwo {
  border-left: 2px solid var(--divider-color);
  flex: 1;
}
/* End BOOKS-SIDETWO Styling */